<div class='wrapper'>
  {% include subscription.html %}
  <a href='#' class='hashtag'>#UIUXConfChina</a>
  <div class='sns'>
    <a class='ins'></a>
    <a class='twitter'></a>
    <a class='weibo'></a>
  </div>
  <div class='copyright'>
    <span> <a href='http://wiredcraft.com/' target='new'>&copy;Wirecraft 2016 </a> |</span> {% if page.language == 'cn' %}
    <a class='' href='/cn/code-of-conduct/'>Code Of Conduct </a>{% else %}
    <a class='' href='/code-of-conduct/'>Code Of Conduct </a> {% endif %}
    <a href='mailto:support@jsconf.cn'>Media Contact</a>
    <a href='https://creativecommons.org/licenses/by/3.0/' target='new'>CCA 3.0 License</a>
  </div>
</div>
