{% if page.language == 'cn' %}
<a href='/cn' class='logo'><img src='/assets/images/logo-uiux.svg'></a>{% else %}
<a href='/' class='logo'><img src='/assets/images/logo-uiux.svg'></a> {% endif %}
<button class='button nav'></button>
<nav id='nav'>
  <div class='box'>
    {% if page.language == 'cn' %}
    <a class="{% if page.url contains 'call-for-speakers' %}active{% endif %}" href='{{ site.url }}{{ site.baseurl }}/cn/call-for-speakers/'>{{ site.data.i18n[page.language].call_for_speakers }}</a>
    <a class="{% if page.url contains 'call-for-sponsors' %}active{% endif %}" href='{{ site.url }}{{ site.baseurl }}/cn/call-for-sponsors/'>{{ site.data.i18n[page.language].call_for_sponsors }}</a>
    <a href='#about'>{{ site.data.i18n[page.language].about }}</a>
    <a href='http://meetup.com/Shanghai-UI-UX-Designers-Meetup/' target='new'>{{ site.data.i18n[page.language].past_events }}</a> {% else %}
    <a class="{% if page.url contains 'call-for-speakers' %}active{% endif %}" href='{{ site.url }}{{ site.baseurl }}/call-for-speakers/'>{{ site.data.i18n[page.language].call_for_speakers }}</a>
    <a class="{% if page.url contains 'call-for-sponsors' %}active{% endif %}" href='{{ site.url }}{{ site.baseurl }}/call-for-sponsors/'>{{ site.data.i18n[page.language].call_for_sponsors }}</a>
    <a href='#about'>{{ site.data.i18n[page.language].about }}</a>
    <a href='http://meetup.com/Shanghai-UI-UX-Designers-Meetup/' target='new'>{{ site.data.i18n[page.language].past_events }}</a> {% endif %}
  </div>
  <button class='close'>&times;</button>
</nav>
{% if page.language == 'cn' %}
<a href='{{ site.url }}{{ site.baseurl }}/' class='lang'>English</a> {% else %}
<a href='{{ site.url }}{{ site.baseurl }}/cn' class='lang'>中文</a> {% endif %}
<button class='button primary ticket'>{{ site.data.i18n[page.language].ticket }}</button>
