<section id='hero'>
  <div class='wrapper'>
    <div class='masthead'>
      <h1>{{ site.data.i18n[page.language].big_title }}</h1>
      <time>2016.10.15 - 10.16 @ {{ site.data.i18n[page.language].shanghai }}</time>
      <span class='location'><img src='/dist/images/location.png' height='10'> <a href='http://j.map.baidu.com/H0Y5B' target='new'>{{ site.data.i18n[page.language].location }}</a> </span>
      <br/>
      <!--       {% include subscription.html %} -->
      <a class='button primary tickets' href='http://www.bagevent.com/event/156568' target='new'>{{ site.data.i18n[page.language].get_tickets }}</a>
      <img src='/dist/images/masthead.png' class='img'>
    </div>
  </div>
</section>
<section id='call-for-proposal'>
  <div class='wrapper'>
    <div class='col-wrapper col-left'>
      <img src='/dist/images/convince-your-boss.png'>
      <div class='col'>
        <h2>{{ site.data.i18n[page.language].how_to_cyb }}</h2>
        <p>{{ site.data.i18n[page.language].cyb_p }}</p>
        {% if page.language == 'cn' %}
        <a href='/cn/convince-your-boss/' class='button secondary'>{{ site.data.i18n[page.language].cyb }}</a>{% else %}
        <a href='/convince-your-boss/' class='button secondary'>{{ site.data.i18n[page.language].cyb }}</a>{% endif %}
      </div>
    </div>
    <div class='col-wrapper col-right'>
      <img src='/dist/images/call-for-sponsors.png?v'>
      <div class='col'>
        <h2>{{ site.data.i18n[page.language].call_for_sponsors }}</h2>
        <p>{{ site.data.i18n[page.language].call_for_sponsors_p }}</p>
        {% if page.language == 'cn' %}
        <a href='/cn/call-for-sponsors/' class='button secondary'>{{ site.data.i18n[page.language].sponsor }}</a>{% else %}
        <a href='/call-for-sponsors/' class='button secondary'>{{ site.data.i18n[page.language].sponsor }}</a>{% endif %}
      </div>
    </div>
  </div>
</section>
<section id='schedule'>
  <div class='wrapper'>
    <h2 id='scheduletop'>{{ site.data.i18n[page.language].schedule }}</h2>
    <div class='tabnav'>
      <div class='tabs'>
        <h3 class='active'>Day 1 - 10.15</h3>
        <h3>Day 2 - 10.16</h3>
      </div>
    </div>
    <div class='tables'>
      <div class='table day1 show'>
        <table>
          <tbody>
            <tr>
              <td class='time'>9 <i>AM</i></td>
              <td colspan='2'>Registration 签到</td>
            </tr>
            <tr>
              <td class='time'>9:30 <i>AM</i></td>
              <td colspan='2'>Welcome and Intro 欢迎及介绍</td>
            </tr>
            <tr class='keynote'>
              <td class='time'>9:40 <i>AM</i></td>
              <td colspan='2'>
                <h4>Designing for and with Data</h4>
                <span>Ronan Berder</span>
                <em>Wiredcraft</em>
                <samp>{{ site.data.i18n[page.language].entip }}</samp>
              </td>
            </tr>
            <tr class='keynote'>
              <td class='time'>10 <i>AM</i></td>
              <td colspan='2'>
                <h4>Making Software for the Future of Making Things</h4>
                <span>Jake Fowler</span>
                <em>Autodesk</em>
                <samp>{{ site.data.i18n[page.language].entip }}</samp>
              </td>
            </tr>
            <tr>
              <td class='time'>10:20 <i>AM</i></td>
              <td colspan='2'>Coffee Break 茶歇</td>
            </tr>
            <tr class='keynote'>
              <td class='time'>10:40 <i>AM</i></td>
              <td colspan='2'>
                <h4>How Storytelling Can Improve the Way You Design</h4>
                <span>Mauricio Estrella</span>
                <em>Stackray</em>
                <samp>{{ site.data.i18n[page.language].entip }}</samp>
              </td>
            </tr>
            <tr class='keynote cn'>
              <td class='time'>11 <i>AM</i></td>
              <td colspan='2'>
                <h4>Emotional Design and Marketing of Mobile Products<br/>移动产品情感化设计与营销</h4>
                <span>张酉麟（小火）Youlin Zhang</span>
                <em>UC browser</em>
                <samp>{{ site.data.i18n[page.language].cntip }}</samp>
              </td>
            </tr>
            <tr>
              <td class='time'>11:20 <i>AM</i></td>
              <td colspan='2'>
                On-stage Recruitment (4 spots) 现场招聘(4位)
              </td>
            </tr>
            <tr>
              <td class='time'>11:40 <i>AM</i></td>
              <td colspan='2'>
                Lunch 午餐及休息
              </td>
            </tr>
            <tr class='keynote'>
              <td class='time'>13:30 <i>PM</i></td>
              <td colspan='1'>
                <h4>Innovation Capability</h4>
                <span>Kyle lin</span>
                <em>Continuum</em>
                <samp>{{ site.data.i18n[page.language].entip }}</samp>
              </td>
              <td colspan='1' rowspan='11' class='workshop'>
                <div class='row'>
                  <div>
                    <time>13:30 <i>PM</i> - 16:30 <i>PM</i></time>
                    <br> Google Workshop
                    <h4>Design Sprint - answer critical business questions within just 5 days</h4>
                    <span>Hsun Tang and Annie Chang</span>
                    <em>Google</em>
                    <samp>{{ site.data.i18n[page.language].entip }}</samp>
                  </div>
                </div>
              </td>
            </tr>
            <tr class='keynote cn'>
              <td class='time'>13:50 <i>PM</i></td>
              <td colspan='1'>
                <h4>Designing Service for Mass Market<br/>为大众市场提供设计服务</h4>
                <span>Georgia Guo</span>
                <em>McDonald’s</em>
                <samp>{{ site.data.i18n[page.language].cntip }}</samp>
              </td>
            </tr>
            <tr>
              <td class='time'>14:10 <i>PM</i></td>
              <td colspan='1'>
                Coffee Break 茶歇
              </td>
            </tr>
            <tr>
              <td class='time'>14:30 <i>PM</i></td>
              <td colspan='1'>
                Lucky Draw 现场抽奖
              </td>
            </tr>
            <tr class='keynote'>
              <td class='time'>14:40 <i>PM</i></td>
              <td colspan='1'>
                <h4>How Designers Transform Organisations</h4>
                <span>Franco Papeschi</span>
                <em>frog</em>
                <samp>{{ site.data.i18n[page.language].entip }}</samp>
              </td>
            </tr>
            <tr class='keynote'>
              <td class='time'>15 <i>PM</i></td>
              <td colspan='1'>
                <h4>What Food Can Teach us about Design</h4>
                <span>Anh Hoang</span>
                <em>Dyad</em>
                <samp>{{ site.data.i18n[page.language].entip }}</samp>
              </td>
            </tr>
            <tr>
              <td class='time'>15:20 <i>PM</i></td>
              <td colspan='1'>
                Panel Talk 讲师问答
                <br/>
                <span>(Ronan Berder, Jake Fowler, 小火, Kyle Lin, Georgia Guo, Anh Hoang)</span>
                <i class='moderator'>Moderator 主持: Mauricio Estrella</i>
              </td>
            </tr>
            <tr class='keynote cn'>
              <td class='time'>15:40 <i>PM</i></td>
              <td colspan='1'>
                <h4>效率与体验——2B产品与2C产品的设计差异</h4>
                <span>姜明蕾</span>
                <em>tezign</em>
                <samp>{{ site.data.i18n[page.language].cntip }}</samp>
              </td>
            </tr>
            <tr class='keynote'>
              <td class='time'>16 <i>PM</i></td>
              <td colspan='1'>
                <h4>You only learnt Waterfall at design school. Welcome to Agile</h4>
                <span>Andrea Carlon</span>
                <em>italki</em>
                <samp>{{ site.data.i18n[page.language].entip }}</samp>
              </td>
            </tr>
            <tr>
              <td class='time'>16:20 <i>PM</i></td>
              <td colspan='1'>
                Lighting Talk 即兴演讲
              </td>
            </tr>
            <tr>
              <td class='time'>16:30 <i>PM</i></td>
              <td colspan='1'>
                Networking Drinks 社交派对
              </td>
            </tr>
            <tr>
              <td class='time'>19 <i>PM</i></td>
              <td colspan='2'>
                Speaker Dinner 讲师晚宴
              </td>
            </tr>
            <tr>
              <td class='time'>20 <i>PM</i></td>
              <td colspan='2'>
                Night Party 派对
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class='table day2'>
        <table>
          <tbody>
            <tr>
              <td class='time'>9:30 <i>AM</i></td>
              <td colspan='2'>Welcome and Intro 欢迎及介绍</td>
            </tr>
            <tr class='keynote'>
              <td class='time'>9:40 <i>AM</i></td>
              <td colspan='2'>
                <h4>We Eat Bugs for Breakfast</h4>
                <span>Joyce Liu 刘珺婕 & Junchao Lyu 吕俊超</span>
                <em>Cheese Video</em>
                <samp>{{ site.data.i18n[page.language].entip }}</samp>
              </td>
            </tr>
            <tr class='keynote'>
              <td class='time'>10 <i>AM</i></td>
              <td colspan='2'>
                <h4>From User Experience to Design Thinking inside a Big Corporation</h4>
                <span>Dominic Winkler</span>
                <em>Bosch UX</em>
                <samp>{{ site.data.i18n[page.language].entip }}</samp>
              </td>
            </tr>
            <tr>
              <td class='time'>10:20 <i>AM</i></td>
              <td colspan='2'>Coffee Break 茶歇</td>
            </tr>
            <tr class='keynote'>
              <td class='time'>10:40 <i>AM</i></td>
              <td colspan='2'>
                <h4>Choice Architectures - The Design of Transformative Choices</h4>
                <span>Siddharta Lizcano</span>
                <em>Razorfish, Publicis.Sapient</em>
                <samp>{{ site.data.i18n[page.language].entip }}</samp>
              </td>
            </tr>
            <tr class='keynote'>
              <td class='time'>11 <i>AM</i></td>
              <td colspan='2'>
                <h4>Fun and Contemporary Design</h4>
                <span>Patrick Rockwell</span>
                <em>W+K</em>
                <samp>{{ site.data.i18n[page.language].entip }}</samp>
              </td>
            </tr>
            <tr>
              <td class='time'>11:20 <i>AM</i></td>
              <td colspan='2'>
                On-stage Recruitment (4 spots) 现场招聘(4位)
              </td>
            </tr>
            <tr>
              <td class='time'>11:40 <i>AM</i></td>
              <td colspan='2'>
                Lunch 午餐及休息
              </td>
            </tr>
            <tr class='keynote cn'>
              <td class='time'>13:30 <i>PM</i></td>
              <td colspan='2'>
                <h4>Creating Customer Journeys and Personas for Innovation Projects<br/>CJM和PERSONA在企业创新项目中的应用与变化</h4>
                <span>肖又歌</span>
                <em>frog</em>
                <samp>{{ site.data.i18n[page.language].cntip }}</samp>
              </td>
            </tr>
            <tr class='keynote'>
              <td class='time'>13:50 <i>PM</i></td>
              <td colspan='2'>
                <h4>A/B testing in Netflix<br/>A/B测试在Netflix的应用</h4>
                <span>Brian Holt</span>
                <em>Netflix</em>
                <samp>{{ site.data.i18n[page.language].entip }}</samp>
              </td>
            </tr>
            <tr>
              <td class='time'>14:10 <i>PM</i></td>
              <td colspan='2'>
                Coffee Break 茶歇
              </td>
            </tr>
            <tr>
              <td class='time'>14:30 <i>PM</i></td>
              <td colspan='1'>
                Lucky Draw 现场抽奖
              </td>
              <td colspan='1' rowspan='7' class='workshop cn'>
                <div class='row'>
                  <div>
                    <time>14:30 <i>PM</i> - 15:30 <i>PM</i></time>
                    <br> Font design Workshop
                    <h4>字／我践行</h4>
                    <span>战国栋</span>
                    <samp>{{ site.data.i18n[page.language].cntip }}</samp>
                  </div>
                </div>
                <div class='row'>
                  <div>
                    <time>15:30 <i>PM</i> - 16:30 <i>PM</i></time>
                    <br>Workshop
                    <h4>Portifolio Review</h4>
                    <span>Publicis.Sapient</span>
                    <samp>{{ site.data.i18n[page.language].entip }}</samp>
                  </div>
                </div>
              </td>
            </tr>
            <tr class='keynote'>
              <td class='time'>14:40 <i>PM</i></td>
              <td colspan='1'>
                <h4>Global to Local, Rethinking a Global UI/UX Strategy for the Chinese User</h4>
                <span>Michael Headrick</span>
                <em>VML</em>
                <samp>{{ site.data.i18n[page.language].entip }}</samp>
              </td>
            </tr>
            <tr class='keynote cn'>
              <td class='time'>15 <i>PM</i></td>
              <td colspan='1'>
                <h4>看见未必洞见：Engaging CEOs to Innovate by Design</h4>
                <span>Jenny Yang</span>
                <em>CBi 桥中</em>
                <samp>{{ site.data.i18n[page.language].cntip }}</samp>
              </td>
            </tr>
            <tr>
              <td class='time'>15:20 <i>PM</i></td>
              <td colspan='1'>
                Panel Talk 讲师问答
                <br/>
                <span>(Siddharta Lizcano，Brian Holt，Michael Headrick，Jenny Yang, 肖又歌)</span>
                <i class='moderator'>Moderator 主持: Brandon Owens</i>
              </td>
            </tr>
            <tr class='keynote cn'>
              <td class='time'>15:40 <i>PM</i></td>
              <td colspan='1'>
                <h4>共享出行模式下的产品交互设计</h4>
                <span>夏一平</span>
                <em>Mobike</em>
                <samp>{{ site.data.i18n[page.language].cntip }}</samp>
              </td>
            </tr>
            <tr class='keynote cn'>
              <td class='time'>16 <i>PM</i></td>
              <td colspan='1'>
                <h4>浅谈交互设计在智能汽车设计中的功能与应用</h4>
                <span>孙震</span>
                <em>威马汽车</em>
                <samp>{{ site.data.i18n[page.language].cntip }}</samp>
              </td>
            </tr>
            <tr>
              <td class='time'>16:20 <i>PM</i></td>
              <td colspan='1'>
                Lighting Talk 即兴演讲
              </td>
            </tr>
            <tr>
              <td class='time'>16:30 <i>PM</i></td>
              <td colspan='1'>
                Networking Drinks 社交派对
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <p class='tip'>{{ site.data.i18n[page.language].sitips }}</p>
  </div>
</section>
<section id='speakers'>
  <div class='wrapper'>
    <h2>{{ site.data.i18n[page.language].confirmed_speakers }}</h2>
    <h3>{{ site.data.i18n[page.language].keynote_speakers }}</h3>
    <ul class='list'>
      {% for speaker in site.speakers %} {% if speaker.talk == 'keynote' %} {% if speaker.featured %}
      <li>
        <div class='wrap'>
          <img src='/dist/images/speakers/{{ speaker.user }}.jpg?v=0828'>
          <div class='info'>
            <h5>{{ speaker.title }}</h5>
            <span>{{ speaker.position }}</span>
            <br/>
            <em>{{ speaker.company }}</em>
          </div>
        </div>
        <div class='bio'>
          <p>{{ speaker.bio }}</p>
        </div>
      </li>
      {% endif %} {% endif %} {% endfor %}
    </ul>
    <h3>{{ site.data.i18n[page.language].workshop_speakers }}</h3>
    <ul class='list'>
      {% for speaker in site.speakers %} {% if speaker.talk == 'workshop' %} {% if speaker.featured %}
      <li>
        <div class='wrap'>
          <img src='/dist/images/speakers/{{ speaker.user }}.jpg?v=0828'>
          <div class='info'>
            <h5>{{ speaker.title }}</h5>
            <span>{{ speaker.position }}</span>
            <br/>
            <em>{{ speaker.company }}</em>
          </div>
        </div>
        <div class='bio'>
          <p>{{ speaker.bio }}</p>
        </div>
      </li>
      {% endif %} {% endif %} {% endfor %}
    </ul>
    <h3>{{ site.data.i18n[page.language].moderators }}</h3>
    <ul class='list'>
      {% for speaker in site.speakers %} {% if speaker.talk == 'moderator' %} {% if speaker.featured %}
      <li>
        <div class='wrap'>
          <img src='/dist/images/speakers/{{ speaker.user }}.jpg?v=0828'>
          <div class='info'>
            <h5>{{ speaker.title }}</h5>
          </div>
        </div>
      </li>
      {% endif %} {% endif %} {% endfor %}
    </ul>
    <!--       <p class='more'>{{ site.data.i18n[page.language].more_to_come }}</p> -->
    </ul>
  </div>
</section>
<section id='sponsors'>
  <div class='wrapper'>
    <h2>{{ site.data.i18n[page.language].sponsors }}</h2>
    <h3>{{ site.data.i18n[page.language].gold_sponsor }}</h3>
    <ul class='list gold'>
      {% for sponsors in site.sponsors %} {% if sponsors.type == 'gold' %} {% if sponsors.featured %}
      <li>
        <a href='{{ sponsors.link }}' target='new'>
          <img src='/dist/images/sponsors/{{ sponsors.user }}.png?v=08282'>
        </a>
      </li>
      {% endif %} {% endif %} {% endfor %}
    </ul>
    <h3>{{ site.data.i18n[page.language].silver_sponsor }}</h3>
    <ul class='list silver'>
      {% for sponsors in site.sponsors %} {% if sponsors.type == 'silver' %} {% if sponsors.featured %}
      <li>
        <a href='{{ sponsors.link }}' target='new'>
          <img src='/dist/images/sponsors/{{ sponsors.user }}.png?v=0828'>
        </a>
      </li>
      {% endif %} {% endif %} {% endfor %}
    </ul>
    <h3>{{ site.data.i18n[page.language].bronze_sponsor }}</h3>
    <ul class='list bronze'>
      {% for sponsors in site.sponsors %} {% if sponsors.type == 'bronze' %} {% if sponsors.featured %}
      <li>
        <a href='{{ sponsors.link }}' target='new'>
          <img src='/dist/images/sponsors/{{ sponsors.user }}.png?v=0828'>
        </a>
      </li>
      {% endif %} {% endif %} {% endfor %}
    </ul>
    <h3>{{ site.data.i18n[page.language].specials }}</h3>
    <ul class='list specials'>
      {% for sponsors in site.sponsors %} {% if sponsors.type == 'special' %} {% if sponsors.featured %}
      <li>
        <a href='{{ sponsors.link }}' target='new'>
          <img src='/dist/images/sponsors/{{ sponsors.user }}.png?v=0828'>
        </a>
      </li>
      {% endif %} {% endif %} {% endfor %}
    </ul>
    <h3>{{ site.data.i18n[page.language].medias }}</h3>
    <ul class='list'>
      {% for sponsors in site.sponsors %} {% if sponsors.type == 'media' %} {% if sponsors.featured %}
      <li>
        <a href='{{ sponsors.link }}' target='new'>
          <img src='/dist/images/sponsors/{{ sponsors.user }}.png?v=0828'>
        </a>
      </li>
      {% endif %} {% endif %} {% endfor %}
    </ul>
    <div class='action'>{{ site.data.i18n[page.language].interested }}</div>
  </div>
</section>
<section id='about'>
  <div class='wrapper'>
    <h2>{{ site.data.i18n[page.language].about_the_conf }}</h2>
    <p>{{ site.data.i18n[page.language].about_the_conf_p }}</p>
    <ul class='photos' id='past-events'>
      <li>
        <a href='http://www.meetup.com/UIUX-Meetup-SH/' target='new'><img src="/dist/images/about/meetup-1.jpg" /></a>
        <a href='http://www.meetup.com/UIUX-Meetup-SH/' target='new'><img src="/dist/images/about/meetup-2.jpg" /></a>
      </li>
      <li>
        <a href='http://www.meetup.com/UIUX-Meetup-SH/' target='new'><img src="/dist/images/about/meetup-3.jpg" /></a>
        <a href='http://www.meetup.com/UIUX-Meetup-SH/' target='new'><img src="/dist/images/about/meetup-4.jpg" /></a>
      </li>
      <li>
        <a href='http://www.meetup.com/UIUX-Meetup-SH/' target='new'><img src="/dist/images/about/meetup-5.jpg" /></a>
        <a href='http://www.meetup.com/UIUX-Meetup-SH/' target='new'><img src="/dist/images/about/meetup-6.jpg" /></a>
        <a href='http://www.meetup.com/UIUX-Meetup-SH/' target='new'><img src="/dist/images/about/meetup-7.jpg" /></a>
      </li>
    </ul>
    <div class='block past'>
      <h3>{{ site.data.i18n[page.language].what_we_did }}</h3>
      <ul>
        <li><img src='/dist/images/shape-1.png'>
          <br/><em>10</em>
          <br/><span>{{ site.data.i18n[page.language].meetups }}</span></li>
        <li><img src='/dist/images/shape-2.png'>
          <br/><em>1374</em>
          <br/><span>{{ site.data.i18n[page.language].attendees }}</span></li>
        <li><img src='/dist/images/shape-3.png'>
          <br/><em>23</em>
          <br/><span>{{ site.data.i18n[page.language].speakers }}</span></li>
      </ul>
    </div>
    <div class='block'>
      <h3>{{ site.data.i18n[page.language].who_is_the_organizer }}</h3>
      <div class='cols'>
        <div>
          <a href='https://wiredcraft.com/' target='new'><img src='/dist/images/past_sponsors/wiredcraft.png'></a>
        </div>
        <p class='intro'>{{ site.data.i18n[page.language].who_is_the_organizer_p }}</p>
      </div>
    </div>
    <div class='block logos'>
      <h3>{{ site.data.i18n[page.language].past_sponsors }}</h3>
      <ul>
        <li>
          <a href='https://shanghai.imagination.com/' target='new '><img src='/dist/images/past_sponsors/imagination.png' style='width:50%'></a>
        </li>
        <li>
          <a href='http://www.frogdesign.com/ ' target='new '><img src='/dist/images/past_sponsors/frog.png' style='width:30%'></a>
        </li>
        <li>
          <a href='http://www.wkshanghai.com/' target='new'><img src='/dist/images/past_sponsors/w+k.png' style='width:45%'></a>
        </li>
        <li>
          <a href='http://www.ef.com.cn/' target='new'><img src='/dist/images/past_sponsors/ef.png' width='30%'></a>
        </li>
        <li>
          <a href='http://centralstudios.cn/' target='new'><img src='/dist/images/past_sponsors/central-studios.png' style='width:55%'></a>
        </li>
        <li>
          <a href='http://chinagdg.org/' target='new'><img src='/dist/images/past_sponsors/GDG.png' style='width:45%'></a>
        </li>
        <li>
          <a href='http://www.linkplace.com.cn/' target='new'><img src='/dist/images/past_sponsors/linkplace.png' style='width:50%'></a>
        </li>
        <li>
          <a href='http://www.people-squared.com/' target='new'><img src='/dist/images/past_sponsors/people-squared.png' style='width:50%'></a>
        </li>
      </ul>
    </div>
    <!-- <div class='block logos'>
      <h3>{{ site.data.i18n[page.language].organizer }}</h3>
      <ul>
        <li>
          <a href='https://wiredcraft.com/' target='new'><img src='/dist/images/past_sponsors/wiredcraft.png' style='width:70%'></a>
        </li>
      </ul>
    </div> -->
  </div>
</section>
