<form class='subscription bundle' action='http://wiredcraft.us2.list-manage1.com/subscribe/post?u=18eb8d6c34ad5d4e781541da9&amp;id=ce3898dd2e' method='post' target='_blank'>
  <label>{{ site.data.i18n[page.language].stay_tuned }}</label>
  <p>Be the first to hear about our offers and announcements.</p>
  <input type='email' name='EMAIL' class='email' required placeholder='Email Address' />
  <button type='submit' name='subscribe' class='button'>{{ site.data.i18n[page.language].notify_me }}</button>
</form>
